/*--------------------Fonts------------------------*/
@font-face {
  font-family: 'Playlist-Script';
  src:url('./fonts/Playlist-Script.ttf.woff') format('woff'),
      url('./fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
      url('./fonts/Playlist-Script.ttf.eot'),
      url('./fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*--------------------General------------------------*/
html{
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #f8f8f8;
}


/* MOBILE-------------------------------------------------------------------------------- */


/*--------------------Header------------------------*/
.header {
  background-image: url(./images/main-image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  filter: contrast(70%);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.title {
  margin:12% 0 0;
  font-family: 'Playlist-Script';
  font-size: 4rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif; 
  font-weight: normal;
}

.arrow {
  font-size: 2rem; 
}

/*--------------------About me------------------------*/
.presentation{
  margin-top:10%;
  padding: 8% 0 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.img-presentation {
  margin-bottom: -70px;
  z-index: 2;
  border-radius:5px;
}

.title-presentation {
  background-color:#202020;
  height:350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 1.6rem;
  width:100%;
  z-index: 1;
}

.text-presentation {
  margin-top:-70px;
  padding: 3%;
  width: 80%;
  z-index: 2;
  background-color: #fff;
  border-radius:5px;
}



/*   
  line-height: 1.5;
  font-size: 1.2rem; */



/* DESKTOP---------------------------------------------------------- */

@media (min-width: 450px) {
  .header {
    min-height: 100vh;
  }
  
  .title {
    font-size: 8rem;
  }

  /*--------------------About me------------------------*/
  .presentation{
    padding: 8% 0 8%;
    background-color: #f1f1f1;
  }

  .title-presentation {
    /* margin-bottom: 8%; */
    font-size: 1.9rem;
  }

  .content-presentation{
    display: flex;
    width: 50%;
  }

  .text-presentation {
    padding: 5% 8%;
    font-size: 1.2rem;
}
  

}