/*--------------------Fonts------------------------*/
@font-face {
  font-family: 'Playlist-Script';
  src:url('./fonts/Playlist-Script.ttf.woff') format('woff'),
      url('./fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
      url('./fonts/Playlist-Script.ttf.eot'),
      url('./fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*--------------------General------------------------*/
html{
  height: 100%;
  background-color: #f8f8f8;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #404040;
  height: 100%;
  /* max-width: 100vh; */
}


/* MOBILE-------------------------------------------------------------------------------- */


/*--------------------Header------------------------*/
.header {
  background-image: url(./images/main-image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.title {
  margin:12% 0 0;
  font-family: 'Playlist-Script';
  font-size: 4rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif; 
  font-weight: normal;
}

.arrow {
  font-size: 2rem; 
}

/*--------------------About me------------------------*/
#presentation{
  padding: 15% 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: #fff;
}

.img-presentation {
  margin-bottom: -70px;
  z-index: 2;
  border-radius:5px;
}

.title-presentation {
  /* background-color:#000; */
  background-color: #404040;
  height:350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 1.6rem;
  width:100%;
  z-index: 1;
}

.text-presentation {
  margin-top:-70px;
  padding: 3%;
  width: 80%;
  z-index: 2;
  background-color: #fff;
  border-radius:5px;
  /* border: #daa520 1px solid; */
  border: #b7886e 1px solid;
}

.text-presentation p {
  margin-bottom: 10%;
}

.cv-button{
  color: #fff;
  text-decoration:none;
  background-color: #b7886e;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10%;
}

.icon-presentation{
  color: #fff;
}

/*--------------------What I work with------------------------*/
.skills {
width:100%;
padding: 0;
}

.skills h2 {
  font-size: 2rem;
  margin-top: -22px;
  text-align:center;
}

.skills-tiles-list {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 10%;
}

.skills-tile {
  background-color: #fff;
  width:40%;
  padding:10% 10% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
  border-radius:5px;
  border: 1px solid #b7886e; 
}

.skills-main-icon{
  margin-bottom: 50px;
  font-size: 3rem;
  /* color: #daa520; */
  color: #b7886e;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-tile > p {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  /* text-decoration-color: #daa520; */
  text-decoration-color: #b7886e;
  text-underline-position: under;
}

.decoration {
  margin: 5% 0 -21px;
  font-size: 4rem;
  color: #fff;
}

.decoration-desktop {
  display: none;
}

.skills-banner {
  width:100%;
  background-color: #fff;
  margin: 0 0 15%;
  padding: 10% 0 10%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  color: #404040;
  font-size: 3.8rem;
}

.skills-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  /* padding: 0 5%; */
}

.skills-group p {
  font-size: 1rem;
  margin-bottom: 0;
  white-space: nowrap;
}

/*--------------------Last projects------------------------*/
.projects-title {
  font-size: 2rem;
  margin: 0 0 -25px;
  text-align:center;
}

.projects {
  width:100%;
  padding: 20% 0 15%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-overlay {
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

.star-project h2{
  color: #b7886e;
  margin: 1% 0 0 3%;
  text-decoration: none;
}

.star-project{
  width: 90%;
  border: 1px solid #b7886e;
  background-image: url(./images/prism.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.star-project:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.other-project-group {
  margin: 5% 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.other-project {
  width: 48%;
  border: 1px solid #b7886e;
  background-size: cover;
  background-position: center;
  position: relative;
}

.other-project:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.other-project h2{
  color: #b7886e;
  margin: 1% 0 0 3%;
  text-decoration: none;
}

.iron-sharer{
  background-image: url(./images/ironshaker.jpg);
}

.back-to-school {
  background-image: url(./images/back-to-school.jpg);
}

/*--------------------Get in touch------------------------*/
.contact {
  width:100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
  
.contact h2 {
  font-size: 2rem;
  margin-top: -22px;
  text-align:center;
}

.contact > div {
  width: 68%;
}
  
.contact-icon {
  font-size: 1.5rem;
  margin-right: 5%;
}

.link {
  text-decoration:none;
  color: #404040;
}
  
/*--------------------Footer------------------------*/  
.footer{
  width: 100%;
  height:50px;
  background-color: #404040;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer p {
  margin: 0 10% 0 0;
  white-space: nowrap;
}
 
.footer-icon {
  margin: 0 5%;
}


/* DESKTOP---------------------------------------------------------- */

@media (min-width: 450px) {
  .header {
    min-height: 100vh;
  }
  
  .title {
    font-size: 8rem;
  }

  /*--------------------About me------------------------*/
  #presentation{
    padding: 1% 0 8%;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }

  .img-presentation {
    margin-right: -50px;
    margin-bottom: 300px;
  }

  .title-presentation {
    height:300px;
    width:40%;
  }

  .text-presentation {
    margin-top:300px;
    margin-left: -50px;
    width:30%;
  }


/*--------------------What I work with------------------------*/
  .skills {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0;
  }
  
  .skills-tiles-list {
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
  }
  
  .skills-tile {
    width:15%;
    height: 60%;
    padding:5% 2% 3%;
    margin-right: 1%;
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .skills-main-icon{
    width: 100px;
    height: 100px;
  }

  .decoration {
    display: none; 
  }

  .decoration-desktop {
    display:block;
    font-size: 3rem;
    color: #fff;
  }

  .skills-banner {
    width:15%;
    height: 330px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0 1% 0 0;
    padding:1% 0 0;
  }

  .skills-group{
    margin: 0 0 60px;
    font-size: 3rem;
  }
  
  .skills-group p {
    font-size: 1rem;
    margin: 0;
  }

/*--------------------Last projects------------------------*/

  .projects {
    width:100%;
    padding: 10% 0 5%;
    flex-direction: row;
    justify-content: center;
  }

  .project-overlay {
    background-color:rgba(255, 255, 255, 0.8);
    opacity: 0;
  }
  

  .project-overlay:hover {
    display: block;
    opacity: 1;
  }

  .star-project{
    width: 40%;
    margin-right: 5%;
  }

  .other-project-group {
    margin: 0;
    width: 20%;
    flex-direction: column;
    justify-content: start;
  }

  .other-project {
    width: 98%;
  }

  .iron-sharer{
    margin-bottom: 2%;
  }


/*--------------------Get in touch------------------------*/
.contact {
  margin-bottom: 5%;
} 

.contact > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 4% 0 2%;
}

.contact-item{
  width: 26%;
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 2rem;
}

/*--------------------Footer------------------------*/
  .footer p {
    margin: 0 5% 0 0;
  }
}