/*--------------------Fonts------------------------*/
@font-face {
  font-family: 'Playlist-Script';
  src:url('./fonts/Playlist-Script.ttf.woff') format('woff'),
      url('./fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
      url('./fonts/Playlist-Script.ttf.eot'),
      url('./fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*--------------------General------------------------*/
html{
  height: 100%;
  background-color: #f8f8f8;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}


/* MOBILE-------------------------------------------------------------------------------- */


/*--------------------Header------------------------*/
.header {
  background-image: url(./images/main-image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  filter: contrast(70%);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.title {
  margin:12% 0 0;
  font-family: 'Playlist-Script';
  font-size: 4rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif; 
  font-weight: normal;
}

.arrow {
  font-size: 2rem; 
}

/*--------------------About me------------------------*/
.presentation{
  padding: 15% 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: #fff;
}

.img-presentation {
  margin-bottom: -70px;
  z-index: 2;
  border-radius:5px;
}

.title-presentation {
  background-color:#000;
  height:350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 1.6rem;
  width:100%;
  z-index: 1;
}

.text-presentation {
  margin-top:-70px;
  padding: 3%;
  width: 80%;
  z-index: 2;
  background-color: #fff;
  border-radius:5px;
  border: #daa520 1px solid;
}

/*--------------------What I work with------------------------*/
.skills {
width:100%;
padding: 0 0 5%;
}

.skills h2 {
  font-size: 2rem;
  margin-top: -22px;
  text-align:center;
}

.skills-tiles-list {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 10%;
}

.skills-tile {
  background-color: #fff;
  width:40%;
  padding:10% 10% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}

.skills-main-icon{
  margin-bottom: 50px;
  font-size: 3rem;
  color: #daa520;
  /* background-color: grey;
  border-radius: 50%; */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-tile > p {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #daa520;
  text-underline-position: under;
}


/* DESKTOP---------------------------------------------------------- */

@media (min-width: 450px) {
  .header {
    min-height: 100vh;
  }
  
  .title {
    font-size: 8rem;
  }

  /*--------------------About me------------------------*/
  .presentation{
    padding: 1% 0 8%;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }

  .img-presentation {
    margin-right: -50px;
    margin-bottom: 300px;
  }

  .title-presentation {
    height:300px;
    width:40%;
  }

  .text-presentation {
    margin-top:300px;
    margin-left: -50px;
    width:30%;
  }

/*--------------------What I work with------------------------*/
  .skills {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0;
  }
  
  .skills-tiles-list {
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
  }
  
  .skills-tile {
    width:15%;
    height: 60%;
    padding:5% 2% 3%;
    margin-right: 2%;
    margin-bottom: 0;
  }
  
  .skills-main-icon{
    width: 100px;
    height: 100px;
  }
   

}